* {
  margin: 0;
  padding: 0;
}
/* navbar */
.nav-link:hover{
  color: burlywood !important;
}


/* navbar */

/* Gallery  start */

.sec-1 .animate {
  transform: translateX(-100%);
}

#icons1 {
  font-size: 40px;

  border-radius: 60%;
  padding: 10px;
}

#contacthead {
  width: 100%;
  height: 60px;
  background-image: url(../images/degersand-beach\ finland\ north2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: center;
  padding-top: 10px;
}
textarea {
  resize: none;
}

#mydiv1 {
  background-image: url(../images/degersand-beach\ finland\ north2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
/* Gallery end */
@media (max-width: 80px) {
  .hide {
    display: none;
  }
}


.bg-image {
  background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 


@import url(https://fonts.googleapis.com/css?family=Anton&display=swap);
body {
  height: 100vh;
  background-size: 100% 100%;
  font-family: 'Anton', sans-serif;
}
.sbuttons {
  bottom: 5%;
  position: fixed;
  margin: 1em;
  left: 0;
}
.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
}
.sbutton > i {
  font-size: 38px;
  line-height: 60px;
  transition: all .2s ease-in-out;
  transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.sbutton:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0;
}
.sbutton:not(:last-child) > i {
  font-size: 25px;
  line-height: 60px;
  transition: all .3s ease-in-out;
}
.sbuttons:hover .sbutton:not(:last-child) {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin: 15px auto 0;
}
.sbutton:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}
.sbutton:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}
.sbutton:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}
.sbutton:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
}
.sbutton:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}
.sbutton:not(:last-child):nth-last-child(6) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

[tooltip]:before {
  font-family: 'Roboto';
  font-weight: 600;
  border-radius: 2px;
  background-color: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-left: 10px;
  position: absolute;
  left: 100%;
  bottom: 20%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
.sbutton.mainsbutton {
  background: #2ab1ce;
}
.sbutton.gplus {
  background: #F44336;
}
.sbutton.pinteres {
  background: #e60023;
}
.sbutton.twitt {
  background: #03A9F4;
}
.sbutton.fb {
  background: #3F51B5;
}
.sbutton.whatsapp {
  background: #00e676;
}
body{
  margin-top:20px;
  background:#F0F8FF;
  }
  .text-custom{
  color: #0062ff !important;
  }
  /* Feature Box
---------------------*/
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #A3C1AD;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
    padding: 100px 0;
    position: relative;
}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #A3C1AD;
    padding-left: 15px;
}


.footer .footer-socila-icon a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F84E77;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 15px;
}

.footer .footer-socila-icon a:hover {
  background: #1baaa0;
}

.footer .footer-links {
  margin: 0;
}

.footer .footer-links li+li {
  padding-top: 10px;
}

.footer .footer-links li a {
  position: relative;
}

.footer .footer-links li a:after {
  content: "";
  position: absolute;
  width: 0px;
  left: auto;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: ease all 0.35s;
  background: #F84E77;
}

.footer .footer-links li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.footer .footer-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer .footer-top {
      padding-top: 2rem;
      padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .footer .footer-top {
      padding-top: 3rem;
      padding-bottom: 2rem;
  }
}

.footer .footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
  background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
  color: rgba(255, 255, 255, 0.65);
}

a {
  text-decoration: none
}

.avatar-lg img {
 width:90px;
 height:90px;
}

.text-white{
color:#fff !important;
}

